header{

    display: flex;
    font-family: 'Roboto mono';
    align-items: center;
    justify-content: space-around;
    padding: 20px 15px;
    color: #444444;
    margin-bottom: 75px;

}

header .logo{
    display: flex;
    font-size: 2rem;
    gap: 8px;
    align-items: center;
    color: white;
}

header span{
    font-weight: 600;
}

header img{
    width: 40px;
}

.profile{
    margin-left: 12px;
}